#include <windows.h>

#ifndef BUILD_VERSION_MAJOR
#error No version specified
#define BUILD_VERSION_MAJOR    0
#define BUILD_VERSION_MINOR    0
#define BUILD_VERSION_BUILD    0
#endif

#define xstr(s) str(s)
#define str(s)  #s

#define BUILD_VERSION_MAJOR_STR    xstr(BUILD_VERSION_MAJOR)
#define BUILD_VERSION_MINOR_STR    xstr(BUILD_VERSION_MINOR)
#define BUILD_VERSION_BUILD_STR    xstr(BUILD_VERSION_BUILD)

#ifdef BUILD_SOURCE
#define BUILD_SOURCE_STR           " " xstr(BUILD_SOURCE)
#else
#define BUILD_SOURCE_STR           ""
#endif

#ifdef PROJECT_NAME
#define PROJECT_NAME_STR           xstr(PROJECT_NAME)
#else
#define PROJECT_NAME_STR           "Unknown"
#endif

#ifdef TARGET_NAME
#define TARGET_NAME_STR            xstr(TARGET_NAME)
#else
#define TARGET_NAME_STR            PROJECT_NAME_STR
#endif
        
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
FILEVERSION BUILD_VERSION_MAJOR,BUILD_VERSION_MINOR,BUILD_VERSION_BUILD,0
PRODUCTVERSION BUILD_VERSION_MAJOR,BUILD_VERSION_MINOR,BUILD_VERSION_BUILD,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileVersion",      BUILD_VERSION_MAJOR_STR "." BUILD_VERSION_MINOR_STR "." BUILD_VERSION_BUILD_STR "." "0"
            VALUE "ProductVersion",   BUILD_VERSION_MAJOR_STR "." BUILD_VERSION_MINOR_STR "." BUILD_VERSION_BUILD_STR "." "0"
            VALUE "InternalName",     PROJECT_NAME_STR
            VALUE "OriginalFilename", TARGET_NAME_STR
            VALUE "ProductName",      PROJECT_NAME_STR
            VALUE "FileDescription",  PROJECT_NAME_STR BUILD_SOURCE_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END