#include <windows.h>

#define PROJECT_NAME "PyInjector"
#define PROJECT_URL  "https://github.com/Stanislav-Povolotsky/PyInjector"

#ifndef BUILD_VERSION_MAJOR
#error No version specified
#define BUILD_VERSION_MAJOR    0
#define BUILD_VERSION_MINOR    0
#define BUILD_VERSION_BUILD    0
#endif

#define xstr(s) str(s)
#define str(s)  #s

#define BUILD_VERSION_MAJOR_STR    xstr(BUILD_VERSION_MAJOR)
#define BUILD_VERSION_MINOR_STR    xstr(BUILD_VERSION_MINOR)
#define BUILD_VERSION_BUILD_STR    xstr(BUILD_VERSION_BUILD)

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
FILEVERSION BUILD_VERSION_MAJOR,BUILD_VERSION_MINOR,BUILD_VERSION_BUILD,0
PRODUCTVERSION BUILD_VERSION_MAJOR,BUILD_VERSION_MINOR,BUILD_VERSION_BUILD,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileVersion",      BUILD_VERSION_MAJOR_STR "." BUILD_VERSION_MINOR_STR "." BUILD_VERSION_BUILD_STR "." "0"
            VALUE "ProductVersion",   BUILD_VERSION_MAJOR_STR "." BUILD_VERSION_MINOR_STR "." BUILD_VERSION_BUILD_STR "." "0"
            VALUE "InternalName",     PROJECT_NAME
            VALUE "OriginalFilename", PROJECT_NAME ".dll"
            VALUE "ProductName",      PROJECT_NAME
            VALUE "FileDescription",  PROJECT_NAME " from " PROJECT_URL
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END